<!DOCTYPE html>
<html>
  <head>
    <title>BravadoQuest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Bellefair:300,400,500,600' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag   'application' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
